.bg-color{
  background-color: #6D6C70;
  height: 150px;
  position: relative;
}

.container{
  position: absolute;
  margin:20px;
  width:auto;
}

.topnav{
  overflow: hidden;
  background-color:#66879F ;
}

.topnav a{
  float:left;
  color: #F9F9F3;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover{
  background-color: #7395AE;
  color: rgb(33,37,41);
}

@media only screen and (max-width: 432px){
  .topnav{
    border-radius: 50px 20px;
  }

  .topnav a{
    font-size: 13.5px;
  }

  .bg-color{
    height: 110px;
  }
}


